$primary-color-dark: #181818;
$primary-color-light: #202020;
$secondary-color-dark: #313131;
$accent-color: #53acff;
$danger-color: #d94111;
$success-color: #118f4b;
$white-color: #f5f6fa;
$main-font: 'Poppins', sans-serif;
